<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">vieworder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let kofi of coffeeArray">
    <ion-card-header>
      <ion-card-subtitle>{{ kofi.coffeeName }}</ion-card-subtitle>
      <ion-card-title>R{{ kofi.konke }}.00</ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
      Sugar : {{ kofi.shugs }}<br>
      Milk : {{ kofi.meleke }}<br>
      Quantinty : {{ kofi.ngakhi }}<br>
      Coffee Price : {{ kofi.malini }}<br>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngIf="check" style="text-align: center">
    <ion-card-title>Your Ordered List is Empty</ion-card-title>
  </ion-card> -->

  <ion-card>
     <!-- view order btn -->
     <ion-button [routerLink]="['/neworder']">
      Order Page
    <ion-icon slot="end" name="basket"></ion-icon>
  </ion-button>
  </ion-card>
</ion-content>
