<ion-header>
  <ion-toolbar color="primary">
    <ion-title align="center">
      Coffee Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" align="center">
    <h3>Welcome To TcF Coffees</h3>
    <img src="../../assets/images/coffee-o-clock-coffee-planet.png" style="width:auto;height:auto"><br>
    <ion-button shape="round" [routerLink]="['/neworder']">Place Order</ion-button><br>
    <ion-button shape="round" [routerLink]="['/vieworder']">Show Order</ion-button>
  </div>
</ion-content>
